@import "tailwindcss";

@theme {
  --color-umnotho: #ffd700;
  --color-umnotho-hover: #e5c100;
  --color-dark-800: #27272a;
  --color-dark-900: #18181b;
  --color-dark-950: #09090b;
  
  --font-display: "Space Grotesk", "sans-serif";
  --font-sans: "Inter", "sans-serif";
}

body {
  background-color: var(--color-dark-950);
  color: white;
  font-family: var(--font-sans);
}